# Programmatic Thinking

## 1.1 Arithmetic Operators 

<font color = "hotpink">Arithmetic Operators</font> - symbols that repersent arithmetic operations

In [1]:
30 + 12

42

In [2]:
43 - 1

42

In [3]:
6 * 7

42

In [4]:
84 / 2

42.0

<b><font color = "hotpink">Integers</font></b> - represents numbers with no decimal or fraction

<b><font color = "hotpink">floats</font></b> - numbers that are decimals or a fraction

In [5]:
84 // 2 #floor division(only gives the numbers before the decimal)

42

In [6]:
85 // 2

42

In [7]:
# Exponents - when you raise to the power of another number 

7 ** 2

49

In [8]:
7 ** 2.5

129.64181424216494

Some Languages use the caret ^ for exponents

## 1.2 Expressions

<font color = "hotpink">Expression</font> - A collections operators and numbers

In [9]:
6 + 6 ** 2

42

In [10]:
12 + 5 * 6

42

In [14]:
(2 + 5) * 6

42

## 1.3 Arithmetic Functions

In [12]:
round(42.4) # rounds the number

42

In [13]:
round(41.6)

42

In [15]:
# the abs function - computes the numbers absolute value 
abs(42)

42

In [16]:
abs(-42)

42

## 1.4 Strings

<font color = "hotpink">Strings</font> - In python or any other programming language, strings represents sequence of charcters contained in quotes

In [17]:
'help'

'help'

In [18]:
"world"

'world'

In [19]:
"hello world'

SyntaxError: unterminated string literal (detected at line 1) (3260505140.py, line 1)

### + operator with strings: 

<b>Concatination<b> - taking multiple strings and putting them together

In [20]:
'hello ' + "world"

'hello world'

### * operator with strings 

- it makes multiple multiple copy of a string and concatenates them together

In [22]:
'spam, ' * 4

'spam, spam, spam, spam, '

## String Functions

In [ ]:
len('spam')# the length if the string

4

## 1.5 Values and Types 

Multiple types of data:
* Integers 
* Floats 
* Strings 
* Boolean
* Null 

<font color = "hotpink">Type</font> - What kind of value the data is using. Values can belong to a type of data

In [1]:
# Python Type function 

type(2)

int

In [2]:
type(2.4)

float

In [3]:
type(True)

bool

In [4]:
type("Hello")

str

In [5]:
int(42.9)

42

In [6]:
float(42)

42.0

In [7]:
str(42)

'42'

In [8]:
"42" + "5"

'425'

In [9]:
"126" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
int("126") / 3

42.0

In [11]:
age = input("Please enter your age") 
# All data collected from an input statement is a string 

birthYear = 2025 - age 

print(birthYear)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [12]:
age = input("Please enter your age") 
# All data collected from an input statement is a string 

birthYear = 2025 - int(age) 

print(birthYear)

2009

In [15]:
1,000,000

# using Commas will not work

(1, 0, 0)

In [14]:
1000000

1000000

In [17]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [18]:
1024

1024

In [20]:
round(42.5)

42

## 1.9.5 Exercise

The following Questions give you practice chance to practice writing arithmatic expressions 

1. How many seconds are there in 42 minutes 42 seconds 

2. How miles are there in 10 km

3. If you run a 10km race in 42min and 42sec, what is your average pace in seconds per mile.

4. What is your average pace in mins and secs 

5. What is your average speed in mph

In [39]:
# 1. How many seconds are there in 42 minutes 42 seconds 

seconds = 42 * 60 

totalSeconds = seconds + 42

print(str(totalSeconds) + " seconds in 42 minutes and 42 seconds.")

2562 seconds in 42 minutes and 42 seconds.

In [29]:
#2. How miles are there in 10 km

miles = round(10 / 1.61, 2) # comma 2 allows you to set what decimal place you are rounding too

print(miles)

6.21

In [31]:
#3. If you run a 10km race in 42min and 42sec, what is your average pace in seconds per mile.

secondsPerMile = round(totalSeconds / miles, 2)

print(str(secondsPerMile) + " seconds per mile")

412.56 seconds per mile

In [38]:
# 4. What is your average pace in mins and secs 

avg_pace = round(secondsPerMile / 60, 2) 

print(str(avg_pace) + " is the pace per mile.")

6.88 is the pace per mile.

In [44]:
# 5. What is your average speed in mph

hours = totalSeconds / 3600 

avg_speed_mph = round(miles / hours, 2)

print("Average speed miles (mph): ", avg_speed_mph)

Average speed miles (mph):  8.73